
# macOS
.DS_Store

# windows
thumbs.db

# solidworks
~$*.SLDPRT


# Specific data files
Analysis/Applications/StitchingChecker/Example/Stitchingdata.mat
Analysis/Applications/StitchingChecker/Example/Stitchingdata_20210818.mat
